.errorloading {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 60%;
  font-size: 15px;
}

.heading {
  color: darkred;
  font-family: "Lucida Console", Courier, monospace;
  position: absolute;
  top: 90%
}

.srcimg {
  background-color: white;
  position: absolute;
  top: 35%;
  width: 5%;
  left: 29%;
  height: 5%;
}

.container {
  position: relative;
  left: 10%;
  width: 80%;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
