<div>
    <router-outlet></router-outlet>

</div>
<div>
</div>
<section class="app">
    <aside class="sidebar">
    
      <nav class="sidebar-nav">
   
        <ul>
          <li>
            <a routerLink="/transaction-page/fund-transfer" ><i class="ion-ios-medical-outline"></i> <span class="">Fund Transfer</span></a>
          </li>
          <li>
            <a routerLink="/transaction-page/pay-bills" ><i class="ion-ios-medical-outline"></i> <span class="">Pay Bills</span></a>
          </li>
          <li>
            <a routerLink="/transaction-page/my-transaction" ><i class="ion-ios-medical-outline"></i> <span class="">My Transaction</span></a>
          </li>
        </ul>
      </nav>
    </aside>
  </section>
