<div>
    <router-outlet></router-outlet>

</div>
<div *ngIf="href === check">
  <img class="img" src="assets/transLogo.webp" />
  <p class="title"> To make a transaction, you can simply start by Clicking on Fund-Transfer</p>
</div>
<section class="app">
    <aside class="sidebar">
    
      <nav class="sidebar-nav">
   
        <ul>
          <li>
            <a  (click)="fundTransfer()"><i class="ion-ios-medical-outline"></i> <span class="">Fund Transfer</span></a>
          </li>
          <li>
            <a  (click)="payBills()" ><i class="ion-ios-medical-outline"></i> <span class="">Pay Bills</span></a>
          </li>
          <li>
            <a  (click)="myTransaction()" ><i class="ion-ios-medical-outline"></i> <span class="">My Transaction</span></a>
          </li>
        </ul>
      </nav>
    </aside>
  </section>
