<img src="/assets/piggy.jpg" class="clsbulb" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/wallet.png" class="clsmutual" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/dollar.jpg" class="clsPhone" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/telephone.jpg" class="clsLandline" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/coin.jpg" class="clsDth" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/card.jpg" class="cardCls" style="position: fixed; height: 80%;width: 100%;">
<img src="/assets/mon.jpg" class="clsgas" style="position: fixed; height: 80%;width: 100%;">




<div class="imgContainer">
  <img class="image money" src="/assets/money.webp">
  <img class="image phone" src="/assets/phone.png">
  <img class="image waterTap" src="/assets/waterTap.png">
  <img class="image cylinder" src="/assets/cylinder.webp">
  <img class="image dth" src="/assets/dth.webp">
  <img class="image atm" src="/assets/card1.png">
  <span class="icontxt " style="font-size:14px; color:purple;">Mutual Fund</span>
  <span class="icontxt" style="font-size:14px; color:purple;">Mobile</span>
  <span class="icontxt1" style="font-size:14px; color:purple;">Water</span>
  <span class="icontxt2" style="font-size:14px; color:purple;">Gas</span>
  <span class="icontxt2" style="font-size:14px; color:purple;">DTH</span>
  <span class="icontxt2" style="font-size:14px; color:purple;">Credit Card</span><br>
  <span class="icontxtRecharge" style="font-size:14px; color:purple;">Recharge</span><br>
  <img class="image landline" src="/assets/landline.png">
  <br>
  <span class="iconTxtLandLine" style="font-size:14px; color:purple;">BroadBand/</span><br>
  <span class="icontxtLandLine2" style="font-size:14px; color:purple;">Landline</span>
</div>
<div class="pos cardCls">
  <h4>Enter Bill Details</h4>
  <hr>
  <select class="cardCls" style="width:20%;">
    <option disabled="true">--Select--</option>
    <option>DBG Bank</option>
    <option>Other Bank</option>
  </select><br><br><hr>
  <h4>Customer Identification Details</h4><hr>
  <span class="cardCls rcolumn1">DBG Credit Card No</span>
  <span class="cardCls rcolumn2">Card Holder Name</span>
  <input type="text" class="cardCls inRow1">
  <input type="text" class="cardCls inRow1"><br><br>
  <span>Amount</span><br>
  <input type="text" class="cardCls"><br><br><br><br>
  <button class="first cardCls">Pay </button>
</div>

<!-- ======================================================== -->
<div class="pos clsPhone">
  <span class="clsPhone">Mobile Number</span>
  <br>
  <select class="clsPhone" name="countryCode" id="">
    <option data-countryCode="DZ" value="213">Algeria (+213)</option>
    <option data-countryCode="AD" value="376">Andorra (+376)</option>
    <option data-countryCode="HU" value="36">Hungary (+36)</option>
    <option data-countryCode="IS" value="354">Iceland (+354)</option>
    <option data-countryCode="IN" value="91">India (+91)</option>
    <option data-countryCode="ID" value="62">Indonesia (+62)</option>
    <option data-countryCode="IR" value="98">Iran (+98)</option>
    <option data-countryCode="IQ" value="964">Iraq (+964)</option>
    <option data-countryCode="IE" value="353">Ireland (+353)</option>
    <option data-countryCode="IL" value="972">Israel (+972)</option>
    <option data-countryCode="IT" value="39">Italy (+39)</option>
    <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
    <option data-countryCode="JP" value="81">Japan (+81)</option>
    <option data-countryCode="JO" value="962">Jordan (+962)</option>
    <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
    <option data-countryCode="KE" value="254">Kenya (+254)</option>
    <option data-countryCode="KI" value="686">Kiribati (+686)</option>
    <option data-countryCode="KP" value="850">Korea North (+850)</option>
    <option data-countryCode="KR" value="82">Korea South (+82)</option>
    <option data-countryCode="KW" value="965">Kuwait (+965)</option>
    <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
    <option data-countryCode="LA" value="856">Laos (+856)</option>
    <option data-countryCode="LV" value="371">Latvia (+371)</option>
    <option data-countryCode="LB" value="961">Lebanon (+961)</option>
    <option data-countryCode="LS" value="266">Lesotho (+266)</option>
    <option data-countryCode="LR" value="231">Liberia (+231)</option>
    <option data-countryCode="LY" value="218">Libya (+218)</option>
    <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
    <option data-countryCode="LT" value="370">Lithuania (+370)</option>
    <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
    <option data-countryCode="MO" value="853">Macao (+853)</option>
    <option data-countryCode="MK" value="389">Macedonia (+389)</option>
    <option data-countryCode="MG" value="261">Madagascar (+261)</option>
    <option data-countryCode="MW" value="265">Malawi (+265)</option>
    <option data-countryCode="MY" value="60">Malaysia (+60)</option>
    <option data-countryCode="MV" value="960">Maldives (+960)</option>
    <option data-countryCode="ML" value="223">Mali (+223)</option>
    <option data-countryCode="MT" value="356">Malta (+356)</option>
    <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
    <option data-countryCode="MQ" value="596">Martinique (+596)</option>
    <option data-countryCode="MR" value="222">Mauritania (+222)</option>
    <option data-countryCode="YT" value="269">Mayotte (+269)</option>
    <option data-countryCode="MX" value="52">Mexico (+52)</option>
    <option data-countryCode="FM" value="691">Micronesia (+691)</option>
    <option data-countryCode="MD" value="373">Moldova (+373)</option>
    <option data-countryCode="MC" value="377">Monaco (+377)</option>
    <option data-countryCode="MN" value="976">Mongolia (+976)</option>
    <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
    <option data-countryCode="MA" value="212">Morocco (+212)</option>
    <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
    <option data-countryCode="MN" value="95">Myanmar (+95)</option>
    <option data-countryCode="NA" value="264">Namibia (+264)</option>
    <option data-countryCode="NR" value="674">Nauru (+674)</option>
    <option data-countryCode="NP" value="977">Nepal (+977)</option>
    <option data-countryCode="NL" value="31">Netherlands (+31)</option>
    <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
    <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
    <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
    <option data-countryCode="NE" value="227">Niger (+227)</option>
    <option data-countryCode="NG" value="234">Nigeria (+234)</option>
    <option data-countryCode="NU" value="683">Niue (+683)</option>
    <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
    <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
    <option data-countryCode="NO" value="47">Norway (+47)</option>
    <option data-countryCode="OM" value="968">Oman (+968)</option>
    <option data-countryCode="PW" value="680">Palau (+680)</option>
    <option data-countryCode="PA" value="507">Panama (+507)</option>
    <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
    <option data-countryCode="PY" value="595">Paraguay (+595)</option>
    <option data-countryCode="PE" value="51">Peru (+51)</option>
    <option data-countryCode="PH" value="63">Philippines (+63)</option>
    <option data-countryCode="PL" value="48">Poland (+48)</option>
    <option data-countryCode="PT" value="351">Portugal (+351)</option>
    <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
    <option data-countryCode="QA" value="974">Qatar (+974)</option>
    <option data-countryCode="RE" value="262">Reunion (+262)</option>
    <option data-countryCode="RO" value="40">Romania (+40)</option>
    <option data-countryCode="RU" value="7">Russia (+7)</option>
    <option data-countryCode="RW" value="250">Rwanda (+250)</option>
    <option data-countryCode="SM" value="378">San Marino (+378)</option>
    <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
    <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
    <option data-countryCode="SN" value="221">Senegal (+221)</option>
    <option data-countryCode="CS" value="381">Serbia (+381)</option>
    <option data-countryCode="SC" value="248">Seychelles (+248)</option>
    <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
    <option data-countryCode="SG" value="65">Singapore (+65)</option>
    <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
    <option data-countryCode="SI" value="386">Slovenia (+386)</option>
    <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
    <option data-countryCode="SO" value="252">Somalia (+252)</option>
    <option data-countryCode="ZA" value="27">South Africa (+27)</option>
    <option data-countryCode="ES" value="34">Spain (+34)</option>
    <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
    <option data-countryCode="SH" value="290">St. Helena (+290)</option>
    <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
    <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
    <option data-countryCode="SD" value="249">Sudan (+249)</option>
    <option data-countryCode="SR" value="597">Suriname (+597)</option>
    <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
    <option data-countryCode="SE" value="46">Sweden (+46)</option>
    <option data-countryCode="CH" value="41">Switzerland (+41)</option>
    <option data-countryCode="SI" value="963">Syria (+963)</option>
    <option data-countryCode="TW" value="886">Taiwan (+886)</option>
    <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
    <option data-countryCode="TH" value="66">Thailand (+66)</option>
    <option data-countryCode="TG" value="228">Togo (+228)</option>
    <option data-countryCode="TO" value="676">Tonga (+676)</option>
    <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
    <option data-countryCode="TN" value="216">Tunisia (+216)</option>
    <option data-countryCode="TR" value="90">Turkey (+90)</option>
    <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
    <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
    <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
    <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
  </select>
  <input style="width: 200px;" class="clsPhone" type="text"><br><br>
  <span class="clsPhone">Amount</span><br>
  <input style="width: 200px;" class="clsPhone" type="text"><br><br>
  <span class="clsPhone">Select Operator</span><br>
  <select style="width: 200px;" class="clsPhone">
    <option disabled="true">--Select--</option>
    <option>Airtel</option>
    <option>Jio</option>
    <option>Vodafone</option>
    <option>Idea</option>
    <option>BSNL</option>
  </select>
  <button class="first clsPhone">Pay </button>
</div>
<!-- ======================================================== -->

<div class="pos clsLandline">
  <span class="clsLandline rcolumn1">Account Number</span>
  <span class="clsLandline rcolumn2">Account Name (optional)</span>

  <input class="clsLandline inRowPhone1" type="text">
  <input class="clsLandline inRowPhone1" type="text"><br><br>
  <span class="clsLandline">Amount</span><br>
  <input class="clsLandline" style="width: 200px;" type="text"><br><br>
  <span class="clsLandline">Select Operator</span><br>
  <select class="clsLandline" style="width: 200px;">
    <option disabled="true">--Select--</option>
    <option>Airtel</option>
    <option>Jio</option>
    <option>Vodafone</option>
    <option>Idea</option>
    <option>BSNL</option>
  </select>
  <button class="first clsLandline">Pay </button>

</div>
<!-- ======================================================== -->
<div class="pos clsDth">
  <span class="clsDth rDthcolumn1">DTH Number</span>
  <span class="clsDth rDthcolumn2">Account Name (optional)</span>

  <input class="clsDth indthRow1" type="text">
  <input class="clsDth indthRow1" type="text"><br><br>
  <span class="clsDth">Amount</span><br>
  <input class="clsDth" style="width: 200px;" type="text"><br><br>
  <span class="clsDth">Select Operator</span><br>
  <select class="clsDth" style="width: 200px;">
    <option disabled="true">--Select--</option>
    <option>Airtel</option>
    <option>Jio</option>
    <option>TataSky</option>
    <option>SunDirect</option>
    <option>BSNL</option>
  </select>
  <button class="first clsDth">Pay </button>

</div>
<!-- ======================================================== -->
<div class="pos clsbulb">
  <span class="clsbulb rbulbcolumn1">RR Number</span>
  <span class="clsbulb rbulbcolumn2">Account Name (optional)</span>

  <input class="clsbulb inbulbRow1" type="text">
  <input class="clsbulb inbulbRow1" type="text"><br><br>
  <span class="clsbulb">Amount</span><br>
  <input class="clsbulb" style="width: 200px;" type="text"><br><br>
  <button class="first clsbulb">Pay </button>

</div>
<!-- ======================================================== -->
<div class="pos clsgas">
  <span class="clsgas rgascolumn1">Customer ID</span>
  <span class="clsgas rgascolumn2">Account Name (optional)</span>

  <input class="clsgas ingasRow1" type="text">
  <input class="clsgas ingasRow1" type="text"><br><br>
  <span class="clsgas">Amount</span><br>
  <input class="clsgas" style="width: 200px;" type="text"><br><br>
  <button class="first clsgas">Pay </button>

</div>
<!-- ======================================================== -->
<div class="pos clsmutual">
  <span class="clsmutual rmutualcolumn1">Policy ID</span>
  <span class="clsmutual rmutualcolumn2">Account Name (optional)</span>

  <input class="clsmutual inmutualRow1" type="text">
  <input class="clsmutual inmutualRow1" type="text"><br><br>
  <span class="clsmutual">Amount</span><br>
  <input class="clsmutual" style="width: 200px;" type="text"><br><br>
  <button class="first clsmutual">Pay </button>

</div>




<div class="lastinfo">
  <section>Terms & Conditions | Interest Rates | Service Charges & Fees | Do Not Call Registry | Disclaimer | Multilingual Disclaimer | Code of Commitment | Group Code of Business Conduct and Ethics <br> Basel II Disclosures | Notice Board | Use of Unparliamentary Language by Customers | Privacy | USA Patriot Act Certification</section>
</div>

