<div class="main">
  <div *ngIf="newCustomer===false">
    <form [formGroup]="registerationForm"
          (ngSubmit)="onSubmit(form)"
          autocomplete="off">
      <h4>
        REGISTRATION
      </h4>
      <div id="errormsg" style="color: rgb(255, 0, 0);">{{errormessage}}</div>
      <div class="container">
        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label>
              First Name
            </label>
            &nbsp;
            <input style="padding-left: 20px;"
                   id="fname"
                   class="form-control"
                   type="text"
                   placeholder="First Name"
                   name="firstName"
                   formControlName="firstName"
                   [(ngModel)]="account.FirstName"
                   [ngClass]="{ 'is-invalid':submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.firstName.errors.required">
                Please enter yor FirstName !!!
              </span>
              <span *ngIf="f.firstName.errors.pattern">
                Invalid Name
              </span>
              <span *ngIf="f.firstName.errors.minlength">
                Name must be atleast of 3 characters
              </span>
            </div>
          </div>

          <div class="form-group">
            <div style="display:flex;flex-direction:row;">
              <label>
                Last Name
              </label>
              &nbsp;
              <input id="lname"
                     class="form-control"
                     type="text"
                     placeholder="Last Name"
                     formControlName="lastName"
                     [(ngModel)]="account.LastName"
                     [ngClass]="{ 'is-invalid':submitted && f.lastName.errors }">
            </div>
            <span *ngIf="submitted && f.lastName.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.lastName.errors.required">
                Please enter your LastName !!!
              </span>
              <span *ngIf="f.lastName.errors.minlength">
                Your lastName must be minimum of 3 characters !!!
              </span>
              <span *ngIf="f.lastName.errors.maxlength">
                Your lastName must be maximum of 50 characters !!!
              </span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label>
              Address
            </label>
            &nbsp;
            <textarea id="add"
                      class="form-control"
                      type="text"
                      formControlName="address"
                      [(ngModel)]="account.Address"
                      [ngClass]="{ 'is-invalid':submitted && f.address.errors }">
                            </textarea>
          </div>
          <span *ngIf="submitted && f.address.errors" class="invalid-feedback" id="error">
            <span *ngIf="f.address.errors.required">
              Please enter your Address !!!
            </span>
            <span *ngIf="f.address.errors.minlength">
              Your Address must be minimum of 3 characters !!!
            </span>
            <span *ngIf="f.address.errors.maxlength">
              Your Address must be within 200 characters !!!
            </span>
          </span>
        </div>

        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label>
              Contact Number
            </label>
            <input id="contactNo"
                   class="form-control"
                   type="text"
                   placeholder="Contact Number"
                   formControlName="contactNumber"
                   [(ngModel)]="account.ContactNumber"
                   [ngClass]="{ 'is-invalid':submitted && f.contactNumber.errors }">
          </div>
          <span *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback" id="error">
            <span *ngIf="f.contactNumber.errors.required">
              Please enter your Contact Number !!!
            </span>
            <span *ngIf="f.contactNumber.errors.minlength">
              Your Contact Number must be of 10 characters !!!
            </span>
          </span>
        </div>

        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label>
              Mail ID
            </label>
            <input id="mail"
                   class="form-control"
                   type="text"
                   placeholder="_____@____.com"
                   formControlName="mail"
                   [(ngModel)]="account.Mail"
                   [ngClass]="{ 'is-invalid': submitted && f.mail.errors }">
          </div>
          <span *ngIf="submitted && f.mail.errors" class="invalid-feedback" id="error">
            <span *ngIf="f.mail.errors.required">
              Please enter your Mail ID !!!
            </span>
            <span *ngIf="f.mail.errors.minlength">
              Your Mail ID must be minimum of 3 characters !!!
            </span>
            <span *ngIf="f.mail.errors.maxlength">
              Your Mail ID must be maximum of 500 characters !!!
            </span>
          </span>
        </div>

        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label>
              Gender
            </label>
            <mat-radio-group class="radio-group"
                             formControlName="gender"
                             [(ngModel)]="account.Gender"
                             [ngClass]="{ 'is-invalid':submitted && f.gender.errors }">
              <mat-radio-button class="radio-button"
                                *ngFor="let gend of gen"
                                [value]="gend"
                                color="primary">
                {{gend}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <span *ngIf="submitted && f.gender.errors" class="invalid-feedback" id="gender-error">
            <span *ngIf="f.gender.errors.required">
              Please select your Gender !!!
            </span>
          </span>
        </div>

        <div class="form-group">
          <div style="display:flex;flex-direction:row;">
            <label id="dob-label">
              Date-Of-Birth
            </label>
            <br>
            <div style="display:flex;flex-direction:row;" id="dateofbirth">
              <input type="text"
                     class="form-control"
                     formControlName="dob"
                     [(ngModel)]="account.Dob"
                     [ngClass]="{'is-invalid':submitted && f.dob.errors}"
                     placeholder="Choose a Date"
                     class1="col-xs-12 col-12 col-md-4 form-group"
                     bsDatepicker
                     [bsConfig]="{containerClass:'theme-dark-blue'}"
                     [(bsValue)]="datevalue"
                     (bsValueChange)="bsValueChange($event)"
                     value="{{ datevalue | date:'yyyy-MM-dd' }}">
              <mat-icon class="column"
                        style="font-size: xx-large;">
                event
              </mat-icon>
            </div>
            <span *ngIf="submitted && f.dob.errors" class="invalid-feedback" id="dob-error">
              <span *ngIf="f.dob.errors" style="color: rgb(255, 0, 0);">
                Please Select your Dob !!!
              </span>
            </span>
            <span *ngIf="age===0" id="age-error" style="color: rgb(255, 0, 0);">
              {{ageError}}
            </span>
          </div>

          <div class="form-group">
            <div style="display:flex;flex-direction:row;">
              <label>
                Account Type
              </label>
              <input id="accType"
                     class="form-control"
                     type="text"
                     placeholder="Current / Savings"
                     formControlName="accountType"
                     [(ngModel)]="account.AccountType"
                     [ngClass]="{ 'is-invalid':submitted && f.accountType.errors }">
            </div>
            <span *ngIf="submitted && f.accountType.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.accountType.errors.required">
                Please enter your Account Type !!!
              </span>
              <span *ngIf="f.accountType.errors.minlength">
                Your Account Type must be minimum of 3 characters !!!
              </span>
              <span *ngIf="f.accountType.errors.maxlength">
                Your Account Type must be maximum of 500 characters !!!
              </span>
            </span>
          </div>

          <div class="form-group">
            <div style="display:flex;flex-direction:row;">
              <label>
                Deposit Amount
              </label>
              <input id="bal"
                     class="form-control"
                     type="text"
                     placeholder="Amount"
                     formControlName="balance"
                     [(ngModel)]="account.Balance"
                     [ngClass]="{ 'is-invalid':submitted && f.balance.errors }">
            </div>
            <span *ngIf="submitted && f.balance.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.balance.errors.required">
                Please enter Initial Deposit Amount !!!
              </span>
              <span *ngIf="f.balance.errors.maxlength">
                Invalid Amount !!!
              </span>
            </span>
          </div>

          <div class="form-group">
            <div style="display:flex;flex-direction:row;">
              <label>
                Password
              </label>
              <input id="pass"
                     class="form-control"
                     type="password"
                     placeholder="Password"
                     formControlName="password"
                     [(ngModel)]="account.Password"
                     [ngClass]="{ 'is-invalid':submitted && f.password.errors }">
            </div>
            <span *ngIf="submitted && f.password.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.password.errors.required">
                Please enter your Password !!!
              </span>
              <span *ngIf="f.password.errors.minlength">
                Your Password must be minimum of 3 characters !!!
              </span>
              <span *ngIf="f.password.errors.maxlength">
                Your Password must be maximum of 500 characters !!!
              </span>
            </span>
          </div>

          <div class="form-group">
            <div style="display:flex;flex-direction:row;">
              <label>
                Confirm Password
              </label>
              <input id="confirmpass"
                     class="form-control"
                     type="password"
                     placeholder="Password"
                     formControlName="password"
                     [(ngModel)]="account.Password"
                     [ngClass]="{ 'is-invalid':submitted && f.password.errors }">
            </div>
            <span *ngIf="submitted && f.password.errors" class="invalid-feedback" id="error">
              <span *ngIf="f.password.errors.required">
                Please enter your Password !!!
              </span>
              <span *ngIf="f.password.errors.minlength">
                Your Password must be minimum of 3 characters !!!
              </span>
              <span *ngIf="f.password.errors.maxlength">
                Your Password must be maximum of 500 characters !!!
              </span>
            </span>
          </div>
          <div class="form-group" style="display:flex;flex-direction:row;"
               id="buttons">
            <div class="form-group">
              <button class="btn btn-lg btn-block"
                      type="button"
                      id="cancel">
                Cancel
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-block"
                      type="reset"
                      id="reset">
                Reset
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-block "
                      id="submit"
                      type="submit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="newCustomer===true">

    <h3 id="newCustomerDetails">
      Your New Account Details
    </h3>
    <table class="table table-hover">
      <tr style="background-color:rgb(255, 255, 255)">
        <th style="color:rgb(3, 3, 3);">CustomerID</th>
        <th style="color:rgb(3, 3, 3);">AccountNumber</th>
        <th style="color:rgb(3, 3, 3);">FirstName</th>
        <th style="color:rgb(3, 3, 3);">LastName</th>
        <th style="color:rgb(3, 3, 3);">OpenDate</th>
        <th style="color:rgb(3, 3, 3);">Status</th>
        <th style="color:rgb(3, 3, 3);">Balance</th>
        <th style="color:rgb(3, 3, 3);">AccountType</th>
        <th style="color:rgb(3, 3, 3);">ContactNumber</th>
        <th style="color:rgb(3, 3, 3);">Mail</th>
      </tr>

      <tr *ngFor="let dat of data">
        <td width="700%">
          {{dat.CustomerId}}
        </td>
        <td>
          {{dat.Number}}
        </td>
        <td>
          {{dat.FirstName}}
        </td>
        <td>
          {{dat.LastName}}
        </td>
        <td>
          {{dat.OpenDate}}
        </td>
        <td>
          {{dat.Status}}
        </td>
        <td>
          {{dat.Balance}}
        </td>
        <td>
          {{dat.AccountType}}
        </td>
        <td>
          {{dat.ContactNumber}}
        </td>
        <td>
          {{dat.Mail}}
        </td>
        <div class="form-group" style="display:flex;flex-direction:row;"
             id="buttons">
          <div class="form-group">
            <button class="btn btn-lg btn-block"
                    type="button"
                    id="cancel">
              Cancel
            </button>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-block"
                    type="reset"
                    id="reset">
              Reset
            </button>
          </div>
        </div>
      </tr>
    </table>
  </div>
</div>
