<!doctype html>
<html lang="en">


<body>
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:2000px;margin-top:5px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container" *ngIf='userClaims'>
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img src="assets/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Manager</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>{{userClaims.Mail}}</p>
            <p><i class="fa fa-clock fa-fw w3-margin-right w3-text-theme"></i>{{userClaims.LoggedOn}}</p>
          </div>
        </div>
        <br>
        <!-- Interests -->
        <div class="w3-card w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <p>Interests</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">News</span>
              <span class="w3-tag w3-small w3-theme-d3">Labels</span>
              <span class="w3-tag w3-small w3-theme-d2">Games</span>
              <span class="w3-tag w3-small w3-theme-d1">Friends</span>
              <span class="w3-tag w3-small w3-theme">Games</span>
              <span class="w3-tag w3-small w3-theme-l1">Friends</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Design</span>
              <span class="w3-tag w3-small w3-theme-l4">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
          </div>
        </div>
        <br>
        <!-- Alert Box -->
        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <p><strong>Hey!</strong></p>
          <p>How are you.</p>
        </div>

      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">

        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">DBG</h6>
                <p contenteditable="true" class="w3-border w3-padding">Enter Your query</p>
                <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Send</button>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin">
          <br>
          <img src="assets/icons/logopic.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">

          <h4><b>DBG Bank</b></h4><br>
          <hr class="w3-clear">
          <p>
            A bank is a financial institution licensed to receive deposits and make loans.
            There are several types of banks including retail, commercial, and investment banks.
            In most countries, banks are regulated by the national government or central bank.
          </p>
          <br>
          <p>
            Banks are a very important part of the economy because they provide vital services for both consumers and businesses. As financial services providers, they give you a safe place to store your cash. Through a variety of account types such as checking and savings accounts, and certificates of deposit (CDs), you can conduct routine banking transactions like deposits, withdrawals, check writing, and bill payments. You can also save your money and earn interest on your investment. The money stored in most bank accounts is federally insured by the Federal Deposit Insurance Corporation (FDIC)
          </p>
          <br>
          <p>
            Banks also provide credit opportunities for people and corporations. The money you deposit at the bank—short-term cash—is used to lend to others for long-term debt such as car loans, credit cards, mortgages, and other debt vehicles. This process helps create liquidity in the market—which creates money and keeps the supply going.

          </p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="assets/visacard.png" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="assets/mon.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
            </div>
          </div>
          <!--<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>-->
        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin">
          <br>
          <!--<img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">16 min</span>-->
          <h4><b>Quick Links</b></h4><br>
          <hr class="w1-clear">

          <p><a href="http://www.kanini.com"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i>Organization Website</a></p>
          <p><a href="http://mail.google.com"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i>DBG Mail</a></p>
          <p><a href="http://www.google.com"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i>Google</a></p>


        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin">
          <br>
          <!--<img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">32 min</span>-->
          <h4><b>Announcements</b></h4><br>
          <hr class="w3-clear">
          <p><a href="https://www.google.com/search?q=loan+process&oq=loan+proc&aqs=chrome.1.69i57j0l5.3168j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i><strong>Loan Process</strong></a></p>
          <p><a href="http://www.google.com"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i><strong>DBG New branch</strong></a></p>
          <p><a href="http://www.google.com"><i class="fa fa-link fa-fw w3-margin-right w3-text-theme"></i><strong>Dbg NetBanking</strong></a></p>

        </div>
        <!-- End Middle Column -->
      </div>


      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Upcoming Events:</p>
            <img src="assets/forest.jpg" alt="Forest" style="width:100%;">
            <p><strong>Holiday</strong></p>
            <p>Friday 15:00</p>
            <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
        </div>
        <br>

        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Leave Report</p>
            <img src="assets/avatar3.png" alt="Avatar" style="width:50%"><br>
            <span>Jane Doe</span>
            <div class="w3-row w3-opacity">
              <!--<div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
              </div>-->
              <table class="table">
                <thead class="thead-dark" style="background-color:forestgreen">
                  <tr>
                    <th scope="col">leave Type</th>
                    <th scope="col">Available</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Holidays</b></td>
                    <td>12 days</td>

                  </tr>
                  <tr>
                    <td><b>Casual</b></td>
                    <td>10 days</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>

        <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <p>Hi</p>
        </div>
        <br>

        <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
          <p><i class="fa fa-bug w3-xxlarge"></i></p>
        </div>

        <!-- End Right Column -->
      </div>
    </div>
  </div>


</body>
</html>
